@{
    ViewBag.Title = "Afad";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<div style="color: white;"</div>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afad Kulübü</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url(https://e0.pxfuel.com/wallpapers/979/405/desktop-wallpaper-vibrant-orange-abstract-background-vector-adj-vector-abstract-abstract-background-orange-blue-abstract.jpg);
            background-size: cover;
        }

        * {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h2 style="color:wheat" align="center"><b>Afad Kulübü</b></h2>

    </header>

    <section id="Hoşgeldiniz">
        <h2 style="color:wheat"><b><i>Hoşgeldiniz</i></b></h2>

        <p>
            Afet ve Acil Durum Yönetimi Başkanlığı,
            afetlerin önlenmesi ve zararlarının azaltılması,
            afetlere müdahale edilmesi ve afet sonrasındaki
            iyileştirme çalışmalarının süratle tamamlanması
            amacıyla gereken faaliyetlerin planlanması,
            yönlendirilmesi, desteklenmesi, koordine
            edilmesi ve etkin uygulanması için ülkenin tüm
            kurum ve kuruluşları arasında işbirliğini
            sağlayan, çok yönlü, çok aktörlü, bu alanda
            kaynakların rasyonel kullanılmasını gözeten,
            faaliyetlerinde disiplinler arası çalışmayı esas
            alan iş odaklı, esnek ve dinamik yapıda teşkil
            edilmiş bir kurumdur.
        </p>
    </section>
    <a href="https://pbs.twimg.com/media/GIPnxTGXIAAxZWs.jpg" data-lightbox="gallery" data-title="Erasmus Resmi">
        <img src="https://pbs.twimg.com/media/GIPnxTGXIAAxZWs.jpg" width="644" style="border: 3px solid white;" alt="Erasmus Resmi">
    </a>
    <a href="https://cdn.uskudar.edu.tr/uploads/images/2022/03/29/800/3.jpg" data-lightbox="gallery" data-title="Erasmus Resmi2">
        <img src="https://cdn.uskudar.edu.tr/uploads/images/2022/03/29/800/3.jpg" width="644" style="border: 3px solid white;" alt="Erasmus Resmi2">
    </a>
    <a href="https://izmir.afad.gov.tr/kurumlar/izmir.afad/Haberler/2023/OCAK/hemsirelik-bol/WhatsApp-Image-2023_01_27-at-191809.jpeg" data-lightbox="gallery" data-title="Erasmus Resmi2">
        <img src="https://izmir.afad.gov.tr/kurumlar/izmir.afad/Haberler/2023/OCAK/hemsirelik-bol/WhatsApp-Image-2023_01_27-at-191809.jpeg" width="644" style="border: 3px solid white;" alt="Erasmus Resmi2">
    </a>
    <a href="https://konya.afad.gov.tr/kurumlar/konya.afad/HABERLER/2021/Agustos/Destek-AFAD-Gonullu-egit/21_22_28_29082021-Destek-AFAD-Gonullu-Egitimi-_33_.JPG?mode=resize&width=800" data-lightbox="gallery" data-title="Erasmus Resmi2">
        <img src="https://konya.afad.gov.tr/kurumlar/konya.afad/HABERLER/2021/Agustos/Destek-AFAD-Gonullu-egit/21_22_28_29082021-Destek-AFAD-Gonullu-Egitimi-_33_.JPG?mode=resize&width=800" width="644" style="border: 3px solid white;" alt="Erasmus Resmi2">
    </a>
    <br /> <br />
    <section id="Etkinlikler">
        <h2 style="color:wheat"><b><i><u>Etkinlikler</u></i></b></h2>
        <p>Afad Kulübü olarak düzenlediğimiz etkinlikler:</p>
    </section>
    <div class="news-item">
        <h5 style="color:saddlebrown"><b><i>Afad Eğitim Semineri</i></b></h5>
        <p class="news">SHMYO'nun düzenlediği, Hakan BİLGİN, Tuğba BURÇAKBAŞ, Tuğba ŞAHİN ve Selma FINDIK'ın katılımlarıyla 'Afad Eğitim Semineri' Konferans Salonu'nda gerçekleştirildi.</p>
    </div>   <a href="https://www.esenyurt.edu.tr/Uploads/www/Etkinlikler/Buyuk/WhatsApp%20Image%202023-12-08%20at%2017.56.19.jpeg" target="_blank"><img src="resim_linki.jpg" style="color:wheat" alt="Detaylı Bilgi İçin Tıklayınız"></a> <br /> <br />

    <div class="news-item">
        <h5 style="color:saddlebrown"><b><i>Afad Eğitimi</i></b></h5>
        <p class="news">Sağlık Hizmetleri Meslek Yüksekokulu tarafından düzenlenen; TÜDAK tarafından Konferans Salonu''nda AFAD Eğitimi gerçekleştirildi.</p>
        <a href="https://shmyo.esenyurt.edu.tr/Uploads/shmyo/Etkinlikler/Kucuk/Ekran%20g%C3%B6r%C3%BCnt%C3%BCs%C3%BC%202023-12-16%20155714.png" target="_blank"><img src="resim_linki.jpg" style="color:wheat" alt="Detaylı Bilgi İçin Tıklayınız"></a> <br /> <br />

    </div>
    <section id="Hakkımızda">
        <h2 style="color:saddlebrown"><b><i>Hakkımızda</i></b></h2>
    </section>
    <ol>
        <li>
            Arama ve Kurtarma Eğitimleri alıyoruz.

        </li>
        <li>
            Doğal afetler hakkında bilgilendirme seminerleri düzenliyoruz.
        </li>
        <li>
            Deprem bölgelerimiz başta olmak üzere yardıma ihtiyacı olan bölgelere yardım ediyoruz.
        </li>
        <li>
            Topluluk, öğrencilere yönelik Erasmus programının tanıtım faaliyetlerinin yürütülmesinde Erasmus Ofisi’ne yardımcı olmak.
        </li>
        <li>
            Kampüslerimizde tatbikatlar düzenliyoruz.

        </li>
        <li>
            Topluluk Yönetim Kurulu ve/veya aktif üyelerden seçilen kişiler, mümkün hallerde, ESN- International veya ESN-Türkiye tarafından düzenlenen yurtiçi ve yurt dışı platformda tanınırlığının arttırılmasına katkıda bulunmak.<br>
        </li>
    </ol>

    <p style="color:wheat"><b><i>Misyonumuz</i></b></p>
    Afet ve acil durumlara ilişkin süreçlerin
    etkin yönetimi için gerekli çalışmaları
    yürütmek, ilgili kurum ve kuruluşlar
    arasında koordinasyonu sağlamak ve bu
    alanda politikalar üretmek.
    <p <br /> </p>
    <p style="color:wheat"><b><i>Vizyonumuz</i></b></p>
    Stratejik plan döneminde risklerin
    azaltılması anlayışı ile bağdaşır bir
    biçimde toplumun afet ve acil durumlar
    konusundaki farkındalığını ve hazırlıklı
    olma seviyesini geliştirme gereğinden
    hareketle Kulübümüzün vizyonu ;
    Afetlere dirençli toplum oluşturmak.
    <p <br /> </p>

    <section id="İletişim">
        <h2 style="color:wheat"><b><i>İletişim</i></b></h2>
        <div class="form-group row">
            <div class="col-sm-4">
                <h4 class="sub-title">DANIŞMAN</h4>
                <h6>Öğr. Gör. Büşra HANCI KURT</h6>
            </div>
            <br /><br />
            <div>
                <h4 class="sub-title">KULÜP BAŞKANI</h4>
                <h6>Sedat TANKAS</h6>
            </div>  <br /> <br /> <br />

        </div>
        <p>
            iesuafad@iesu.edu.tr
        </p>
    </section>
    <footer style="background-color: #333; color: #fff; text-align: center; padding: 20px;">
        <p>&copy; 2024 Afad Kulübü. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>