@{
    ViewBag.Title = "Erasmus";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<div style="color: white; background-image: url(https://i0.wp.com/bakikaracay.com/wp-content/uploads/2018/06/Avrupa-Birligi-Erasmus-Program.jpg?fit=1920%2C1280&ssl=1) ">
    <html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erasmus Kulübü</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <header>
            <h2 style="color:gold" align="center"><b>Erasmus Kulübü</b></h2>

        </header>

        <section id="Hoşgeldiniz">
            <h2 style="color:gold"><b><i>Hoşgeldiniz</i></b></h2>

            <p>Erasmus Kulübü, uluslararası öğrenciler arasında kültürel alışverişi teşvik etmek ve desteklemek amacıyla kurulmuştur. Amacımız, uluslararası öğrencilere Türk kültürünü tanıtmak ve yerel öğrencilerle etkileşimde bulunmalarını sağlamaktır.</p>
        </section>

        <a href="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0943.JPG" data-lightbox="gallery" data-title="Erasmus Resmi">
            <img src="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0943.JPG" width="644" style="border: 3px solid white;" alt="Erasmus Resmi">
        </a>
        <a href="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0261.JPG" data-lightbox="gallery" data-title="Erasmus Resmi2">
            <img src="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0261.JPG" width="644" style="border: 3px solid white;" alt="Erasmus Resmi2">
        </a>
        <a href="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0622.JPG" data-lightbox="gallery" data-title="Erasmus Resmi2">
            <img src="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0622.JPG" width="644" style="border: 3px solid white;" alt="Erasmus Resmi2">
        </a>
        <a href="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0956.JPG" data-lightbox="gallery" data-title="Erasmus Resmi2">
            <img src="https://erasmus.esenyurt.edu.tr/Uploads/erasmus/FotoGaleri/FotoGaleri255/IMG_0956.JPG" width="644" style="border: 3px solid white;" alt="Erasmus Resmi2">
        </a>
        <br /> <br />

        <section id="Etkinlikler">
            <h2 style="color:gold"><b><i>Etkinlikler</i></b></h2>
            <p>Erasmus Kulübü olarak düzenlediğimiz etkinlikler:</p>
        </section>
        <table border="1">
            <thead>
                <tr style="background-color:gold">
                    <th style="color:black;"><i class="fas fa-calendar-alt"></i> Etkinlik</th>
                    <th style="color:black;"><i class="fas fa-map-marker-alt"></i> Yer</th>
                    <th style="color:black;"><i class="far fa-calendar-alt"></i> Tarih</th>
                    <th style="color:black;"><i class=" fas fa-clock"></i> Saat</th>
                </tr>
            </thead>
            <tbody>

                <tr style="background-color: darkslategray">
                    <td>Erasmus Staj Bilgilendirme Toplantısı </td>
                    <td>Erasmus Koordinatörlüğü</td>
                    <td>29 Mart 2023</td>
                    <td>14:00</td>
                </tr>
                <tr style="background-color: darkslategray">
                    <td>Erasmus Days Sergisi</td>
                    <td>İstanbul Esenyurt Üniversitesi 2. Kat</td>
                    <td>9 Ekim 2023</td>
                    <td>15:21</td>
                </tr>
                <tr style="background-color: darkslategray">
                    <td>Erasmus Days Etkinlik</td>
                    <td>İstanbul Esenyurt Üniversitesi Kütüphane</td>
                    <td>10 Ekim 2023</td>
                    <td>15:25</td>
                </tr>
                <tr style="background-color: darkslategray">
                    <td>Erasmus Days Empati Parkuru</td>
                    <td>İstanbul Esenyurt Üniversitesi 2. Kat Yemekhane Alanı</td>
                    <td>10 Ekim 2023</td>
                    <td>15:30</td>
                </tr>
                <tr style="background-color: darkslategray">
                    <td>Erasmus Days Söyleşi</td>
                    <td>İstanbul Esenyurt Üniversitesi 2. Kat Kütüphane</td>
                    <td>10 Ekim 2023</td>
                    <td>15:34</td>
                </tr>
                <tr style="background-color: darkslategray">
                    <td>Erasmus Days Konferans</td>
                    <td>İstanbul Esenyurt Üniversitesi 2. Kat Kütüphane</td>
                    <td>11 Ekim 2023</td>
                    <td>15:37</td>
                </tr>
                <tr style="background-color: darkslategray">
                    <td>Erasmus Days 'Bir Kenti Keşfetmek'</td>
                    <td>İstanbul Esenyurt Üniversitesi 2. Kat Kütüphane</td>
                    <td>12 Ekim 2023</td>
                    <td>15:41</td>
                </tr>
        </table> <br />

        <section id="Hakkımızda">
            <h2 style="color:gold"><b><i>Hakkımızda</i></b></h2>
            <ul>
                <li>
                    Erasmus programına katılmış olan öğrencilerin,hareketlilik öncesi ve sonrası uyum süreçlerine katkıda bulunur ve onların uluslar arası alanda hareketlilik faaliyetlerini sürdürmesine yardımcı olmak.
                </li>
                <li>
                    Erasmus programı kapsamında gidecek olan öğrencilerle daha önce programdan faydalanmış olan öğrencileri bir araya getiren deneyimlerini paylaşabilecek, toplantıları düzenlemek.
                </li>
                <li>
                    Topluluk kuruluş ilkesini gerçekleştirmek, çalışmalarında verimliliği ve yapılabilirliği arttırmak amacıyla çeşitli öğretim kumları, özel kuruluşlar, yurt içi ve yurt dışı örgüt, birim, dernekler ve üniversitemizin diğer topluluklarıyla birlikte ortak veya müstakil organizasyonlar(paneller, konferanslar, şenlikler, oryantasyon haftaları, gezi vb.) düzenlemek.
                </li>
                <li>
                    Topluluk, öğrencilere yönelik Erasmus programının tanıtım faaliyetlerinin yürütülmesinde Erasmus Ofisi’ne yardımcı olmak.
                </li>
                <li>
                    Topluluk bünyesinde yürütülecek etkinlikler sayesinde Erasmus programından yararlanmış öğrencilerin yönetme ve organizasyon faaliyetlerinde görev almaları sağlanarak, bu becerilerin geliştirilmesi amaçlamak.
                </li>
                <li>
                    Topluluk Yönetim Kurulu ve/veya aktif üyelerden seçilen kişiler, mümkün hallerde, ESN- International veya ESN-Türkiye tarafından düzenlenen yurtiçi ve yurt dışı platformda tanınırlığının arttırılmasına katkıda bulunmak.<br>
                </li>
            </ul>

            <p style="color:gold"><b><i>Misyon</i></b></p>
            Akademik bilgilerin yanında çağdaş eğitim yöntemlerini kullanarak; bilim veteknolojik gelişmelerin topluma yayılmasına katkıda bulunmak ve paydaşlarımızın ihtiyaç duyduğu alanlarda bilgili, donanımlı, girişimci ruha sahip, güçlü kişiliği ve sosyal becerileriyle  bulunduğu her ortamda fark yaratabilen,toplumsal sorumluluk duyarlılığı olan bireyler yetiştirmektir.
            <p <br /> </p>
            <p style="color:gold"><b><i>Vizyon</i></b></p>
            Özgürlükçü, Akademik ve fiziki altyapısı ile öne çıkan, Geleneklere ve farklılığa saygılı, Ülkesine ve bilime hizmeti amaç edinmiş, Disiplinler arası ve dünya standartlarında bir eğitim anlayışı ile özgün bilgiler yaratılmasını sağlayan, Geleceğe yön verebilecek bireyleri yetiştiren öncü bir dünya üniversitesi olmaktır. <br /> <br />


        </section>

        <section id="İletişim">
            <h2 style="color:gold"><b><i>İletişim</i></b></h2>
            <div class="form-group row">
                <div class="col-sm-4">
                    <h4 class="sub-title">KOORDİNATÖR</h4>
                    <h6>Arş. Gör. Merve Sevinç SAKAR<br /> mervesakar@esenyurt.edu.tr  </h6>
                </div>
                <br /><br />
                <div class="col-sm-4">
                    <h4 class="sub-title">MEMUR</h4>
                    <h6>Emine ŞİMŞEK<br />eminesimsek@esenyurt.edu.tr</h6>
                </div>
            </div>
        </section>
        <footer style="background-color: #333; color: #fff; text-align: center; padding: 20px;">
            <p>&copy; 2024 Erasmus Kulübü. Tüm hakları saklıdır.</p>
        </footer>
    </body>
</html>
