@{
    ViewBag.Title = "Kızılay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div style="background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210525/pngtree-red-geometric-pattern-dark-red-background-image_719597.jpg); color: white">


    <br />
    <h2 align="center"> Kızılay Külübü </h2>
    <br />
    <div>

        <h2> Hoşgeldiniz..</h2>
        <h4>
            kızılay külübümüze hoşgeldiniz. Ailemize katılmak mı istiyorsunuz ? Burası tam da sizin yeriniz olabilir unutmayın!
            burası türkiyenin en önemli sağlık külübüdür.
        </h4>
        <br />

        <h2> Etkinlikler..</h2>
        <h4>
            1-7 MART- DEPREM HAFTASI
            <button type="button" style="color:yellow" class="btn btn-reveal btn-default btn-sm" data-toggle="modal" data-target="#myModal-1"><i class="fa fa-arrow-right"></i> &nbsp;&nbsp;&nbsp;DAHA FAZLA </button>
            <div id="myModal-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">1-7 MART- DEPREM HAFTASI</h4>
                        </div>


                        <div class="modal-body">
                            <p>
                                Deprem Haftası&rsquo;nda d&uuml;nyanın en etkin deprem kuşaklarından birinin &uuml;zerinde bulunan &uuml;lkemizde vatandaşlarımızın depreme karşı hazırlıklı olmasının sağlanması,&nbsp; depremden korunma yollarının anlatılması ve toplumda afete hazırlık bilincinin yaygınlaştırılması ama&ccedil;lanmaktadır.<br />
                                &nbsp;<br />
                                <strong>T&uuml;rk Kızılayı tarafından </strong>olası afet zararlarını azaltmak i&ccedil;in Kızılay şubeleri aracılığıyla yerelde kurumlar arası işbirliğinin geliştirilmesinin sağlanması, toplum liderleri aracılığıyla toplumda afetlere karşı hazırlıklı olma ve sosyal sorumluluk bilincini oluşturması i&ccedil;in <strong>&ldquo;toplum liderlerini teşkilatlandırma projesi afet zararlarının azaltılma programı&rdquo;</strong><strong> </strong>hayata ge&ccedil;irilmiştir.<br />
                                &nbsp;<br />
                                <strong>Ayrıca&nbsp; </strong><strong>&ldquo;Kızılay&rdquo; </strong><strong>ile de</strong> &ouml;zellikle ilk&ouml;ğretim &ouml;ğrencilerinin ve &ouml;ğretmenlerin afet &ouml;ncesi sırası ve sonrasında yapılması gerekenler konusunda &ccedil;alışmalar y&uuml;r&uuml;t&uuml;lmektedir. G&uuml;venli yaşam i&ccedil;in edinilmesi gereken temel bilgiler, korunma y&ouml;ntemleri, afetler ve Kızılay&rsquo;ın hizmetleri konusunda farkındalık yaratılmakta ve bilin&ccedil;lendirme &ccedil;alışmaları kapsamında &ldquo;g&uuml;venli yaşamı &ouml;ğreniyorum&rdquo; kitapları dağıtılmaktadır.
                            </p>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            14 MART -TIP BAYRAM
            <button type="button" style="color:yellow" class="btn btn-reveal btn-default btn-sm" data-toggle="modal" data-target="#myModal-2"><i class="fa fa-arrow-right"></i> &nbsp;&nbsp;&nbsp;DAHA FAZLA </button>
            <div id="myModal-2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" style="color:yellow" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">14 MART -TIP BAYRAMI</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                &Uuml;lkemizin en k&ouml;kl&uuml; sivil toplum kuruluşu olan T&uuml;rk Kızılayı savaş alanlarında ve cephe gerisinde yaralı askerlerin tedavisiyle başlayan sağlık hizmetlerini g&uuml;n&uuml;m&uuml;zde kan merkezleri, tıp merkezleri ve hastaneleri aracılığıyla geliştirerek s&uuml;rd&uuml;rmektedir. Kan hizmetleri alanında y&uuml;r&uuml;tt&uuml;ğ&uuml; &ccedil;alışmalarla &uuml;lkemizin kan ihtiyacının %85&rsquo;ini karşılayan T&uuml;rk Kızılayı, tıp merkezi ve hastanelerinde sağlık hizmeti vermektedir.&nbsp;
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            8 MAYIS - DÜNYA KIZILHAÇ KIZILAY GÜNÜ
            <button type="button" style="color:yellow" class="btn btn-reveal btn-default btn-sm" data-toggle="modal" data-target="#myModal-3"><i class="fa fa-arrow-right"></i> &nbsp;&nbsp;&nbsp;DAHA FAZLA </button>
            <div id="myModal-3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">8 MAYIS - D&#220;NYA KIZILHA&#199; KIZILAY G&#220;N&#220;</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                D&uuml;nya Kızılha&ccedil; Kızılay g&uuml;n&uuml;, d&uuml;nyanın en b&uuml;y&uuml;k insani yardım kuruluşları olan Kızılay ve Kızılha&ccedil;ların felsefesinin ve temel ilkelerinin t&uuml;m d&uuml;nyada yaygınlaştırılması, Kızılay ve Kızılha&ccedil; derneklerinin ihtiya&ccedil; sahibi insanlara yardım eli uzatmakta g&ouml;sterdiği &ccedil;abalarının anlatılması amacıyla 8 Mayıs&rsquo;ta kutlanmaktadır.<br />
                                &nbsp;<br />
                                Kızılay ve Kızılha&ccedil;ların varlıklarını s&uuml;rd&uuml;rebilmeleri i&ccedil;in gerekli olan bağış ve g&ouml;n&uuml;ll&uuml; desteğinin artırılması i&ccedil;in T&uuml;rk Kızılayı da federasyon tarafından her yıl belirlenen konsept &ccedil;er&ccedil;evesinde etkinlikler d&uuml;zenleyerek bu g&uuml;n&uuml; kutlamaktadır. Ayrıca t&uuml;m mesajlarında Kızılay Kızılha&ccedil; hareketinin anlamına ve hareketin ilkelerine dikkat &ccedil;ekilmesini sağlamaktadır.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                        </div>
                    </div>
                </div>
            </div>


            <br />
            11 HAZİRAN - TÜRK KIZILAYI KURULUŞ YILDÖNÜMÜ
            <br />
            3 ARALIK – DÜNYA ENGELLİLER GÜNÜ

            <button type="button" style="color:yellow" class="btn btn-reveal btn-default btn-sm" data-toggle="modal" data-target="#myModal-9"><i class="fa fa-arrow-right"></i> &nbsp;&nbsp;&nbsp;DAHA FAZLA </button>
            <!-- Bootstrap Modal >-->
            <div id="myModal-9" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">3 ARALIK – D&#220;NYA ENGELLİLER G&#220;N&#220;</h4>
                        </div>


                        <div class="modal-body">
                            <p>
                                T&uuml;rk Kızılayı genel merkezi ve şubeleri aracılığıyla yıl boyu engelli vatandaşlarımıza y&ouml;nelik yardım &ccedil;alışmaları y&uuml;r&uuml;tmektedir.<br />
                                &nbsp;<br />
                                T&uuml;rk Kızılayı &ouml;zel eğitime ihtiya&ccedil; duyan engelli &ccedil;ocuklar i&ccedil;in de &ldquo;&Ouml;zel Eğitim Sınıfları Projesi&rdquo;ni hayata ge&ccedil;irmiştir. Hayırseverlerin ve medya kuruluşlarının destek verdiği bu proje ile devlet okullarında ailelerinin ekonomik imk&acirc;nsızlıklar nedeniyle &ouml;zel merkezlere g&ouml;nderemediği engelli &ccedil;ocukların eğitimi i&ccedil;in &ouml;zel sınıflar a&ccedil;mıştır.<br />
                                <br />
                                Proje kapsamında engelli &ouml;ğrenciler i&ccedil;in T&uuml;rk Kızılayı tarafından devlet okullarında <strong>&ldquo;sen &ccedil;ok &ouml;zelsin</strong>&rdquo; isimli &ouml;zel eğitim sınıflarının tefrişatı yapılmaktadır. Destekler doğrultusunda &ccedil;eşitli kurum ve kuruluşlarla iş birliği i&ccedil;erisinde &ldquo;&ouml;zel eğitim sınıfları projesi&rdquo; daha da genişletilerek bir&ccedil;ok engelli &ouml;ğrenciye ulaşılması hedeflenmektedir.&nbsp;
                            </p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://ebelik.cu.edu.tr/storage/posts/November2023/F8usuSveqm4MUcK7nYU7.jpeg" align="right" width="500" height="550">
        </h4>
        <br />
        <h3> Hakkımızda..</h3>
        <br />
        <p>
            Kızılay Kulübü'nün amacı; Esenyurt Üniversitesi öğrencilerinin ders dışında yapabilecekleri faaliyetlerle toplumun güç ve kaynaklarını harekete geçirmek, insan sağlığının korunması doğrultusunda her koşulda, muhtaç ve korumasız insanlara yardım etmek, toplumun afetlerle mücadele kapasitesinin geliştirilmesine destek olmak ..
            <br />
            Kulübün başlıca faaliyetleri şunlardır:
            <br />
            * Üniversitelerde eğitim gören gençler arasında Kızılaycılığın benimsenmesini sağlamak
            <br />
            * Sosyal dayanışma ve yardımlaşma bilincinin oluşması ve geliştirilmesine yardımcı olmak
            <br />
            * Kızılay faaliyetlerine katılımı özendirmek ve desteklemek, veren el ile alan el arasında köprü oluşturmak
            <br />
            * Bireysel ve toplumsal farkındalığın sağlanması ve artması yönünde başlangıçta İstanbul'daki üniversitelerle birlikte hareket ederek, uzun vadede Türkiye'deki ve yurtdışındaki üniversitelerle ortaklaşa çalışmalar yaparak, projeleri duyurmak ve ortak kamuoyunun oluşturmak
            <br />
            * İstanbul genelindeki gönüllü üniversite öğrencilerinin katılımıyla hazırlanması hedeflenen gazetelerde, gerçekleştirilen projelerin paylaşılmasını, duyuruların yapılmasını, projelere katılan kişilerin düşüncelerini ve kanaat önderleri ile yapılacak röportajların yayımlanmasını sağlamak
            <br />
            * Toplumun kanaat önderleri ve rol modelleri olarak öne çıkan akademisyen, sanatçı, yazar ve bürokratlarla söyleşiler düzenleyerek gençlerin çok yönlü gelişimini sağlamak
            <br />
            * Toplum ve bilhassa gençler tarafından sevilen ve ilgi gören sanatçılar ile yardım konserleri düzenleyerek, sağlanan geliri ihtiyaç sahiplerine ulaştırmak, toplum yararına geliştirilen projelerde kullanmak, toplumsal ve uluslararası dayanışmayı arttırmak
            <br />
            * Toplumun önemli bir kısmını oluşturan çocuk yetiştirme yurtları, huzurevleri gibi sosyal sorumluluk duyulması gereken kurumları ziyaret ederek gençleri toplumla bir araya getirmektir.
        </p>
    </div>





















    <div style="color:white">



        <h4 class="sub-title">KULÜP YÖNETİM VE İLETİŞİM BİLGİLERİ</h4>
        <div class="form-group row">
            <div class="col-sm-4">
                <h4 class="sub-title">DANIŞMAN</h4>
                Arş.Gör. Üyesi Mert Aksoy<br />Mertaksoyy@esenyurt.edu.tr
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">DANIŞMAN YARDIMCISI</h4>
                Dr.Öğr. Üyesi Sedat Güler <br />SedatGüler@esenyurt.edu.tr
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <h4 class="sub-title">KULÜP BAŞKANI</h4>
                Melisa Duran<br />MelisaDurann@esenyurt.edu.tr<br />
            </div>
            <div class="col-sm-4">
                <h4 class="sub-title">KULÜP BAŞKAN YARDIMCISI</h4>
                Asım Dervis<br />AsımDervis@esenyurt.edu.tr<br />
            </div>

        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-12">
                <h4 class="sub-title">SIRADAKİ ETKİNLİK</h4>

                <div class="alert alert-primary">
                    <strong>Bilgi!</strong> Heyelan için Yapılacak Önlemler..
                </div>
            </div>
        </div>


        <h4 class="sub-title">EN SON YAPILAN ETKİNLİK</h4>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><strong>Etkinlik Tarihi</strong></label>
            <div class="col-sm-9">07.03.2024 / 12:30-16:00</div>
        </div>
        <hr />
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><strong>Etkinlik Türü</strong></label>
            <div class="col-sm-9">Eğitim</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"><strong>Yapılan Etkinlik</strong></label>
            <div class="col-sm-9">Depremzedelere Yardım</div>
        </div>


        <hr />



    </div>

</div>