
@{
    ViewBag.Title = "AlgoritmayaGiris";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Algoritmaya Giris Dersi</h2>
<br />
<p>
    Problem Çözümü İlke ve Evreleri, Algoritma ve Akış Şemaları, Programlama Ortamının Kullanımı ve Kod Yazım Kuralları, Değişkenler, Kontrol Deyimleri ve Döngüler, Diziler, Alt Programlar, Grafik.
</p>
<p> Dersin Amacı: Bu dersin amacı, programlamanın genel yapısı, değişkenler, fonksiyonlar, seçim deyimleri, döngü, metin dosyaları, kullanıcı tanımlı veri tipi, kayıtlar, işaretçiler, dinamik veri yapıları hakkında bilgi vermektir.</p>

<p>
    Dersin İçeriği:
    Akış diyagramı, yordamsal programlama, sıralama algoritmaları. Programlama dillerinin tarihçesi ve türleri, derleyiciler, yapısal programlama; yukarıdan aşağı programlama ilkeleri, yapısal kodlama ilkeleri, modüler programlama ilkeleri. Temel veri türleri, değişken tanımlama, kullanıcı tanımlı fonksiyonlar, diziler, yapı değişkenleri, birlikler. Çeşitli konularla ilgili, farklı sınıf seviyeleri için uygun programlama dillerini kullanarak kısa programlar yazma.
</p>
<br />
<p>
    Dersin Öğretim Yöntemleri:
    1: Anlatım, 2: Soru-Cevap, 3: Tartışma, 4: Bireysel Çalışma, 5: Gösteri Yöntemi
</p>

<br />
<p>
    Dersin Ölçme Yöntemleri:
    1: Sınav , 2: Deney, 3: Ödev 4: Portfolyo, 5: Proje
</p>