
@{
    ViewBag.Title = "Atatürkİnkilap";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Atatürk İlke Ve İnkilapları Dersi</h2>
<br />
<h3> Atatürk ilke ve inkılapları dersi bize ne kazandırır?</h3>
<p> Atatürk İlkeleri ve İnkılâp Tarihi derslerinin amacı; Türk Devriminin ruhunu ve hedeflerini kavrayarak geliştirecek yeni nesiller yetiştirmektir. Böylece, Mustafa Kemal Atatürk'ün söylediği gibi; "Devrimin amacını kavramış olanlar sürekli olarak onu koruma gücüne sahip olacaklardır".</p>
<h3> Konular (hafta hafta)</h3>
<ol>
    <li> Atatürk İlkeleri ve İnkılap Tarihi Dersi’nin Amacı, Osmanlı Devleti’nin Kuruluşu ve Gerilemesi (Osmanlı Devleti’nin Çöküş Sebepleri, Dış Sebepler)</li>
    <li>     Osmanlı Devleti’nin Kuruluşu ve Gerilemesi (Osmanlı Devleti’nin Çöküş Sebepleri, İç Sebepler)</li>
    <li> Avrupa’nın Yükselişi Karşısında Osmanlı Devleti’nin Girişimleri (Avrupa’da 20. Yüzyıl Düzeninin Oluşması, Osmanlı Devleti’ni Kurtarma Çabaları, Tanzimat Fermanı’na kadar)</li>
    <li> Avrupa’nın Yükselişi Karşısında Osmanlı Devleti’nin Girişimleri (Osmanlı Devleti’ni Kurtarma Çabaları, Tanzimat Fermanı ve sonrası, Fikir Akımları)</li>
    <li> Osmanlı Devleti’nin Yıkılışı (Trablusgarp Savaşı, Balkan Savaşları, I.Dünya Savaşı)</li>
    <li> Mondros Ateşkes Antlaşması ve Sonrasındaki Gelişmeler</li>
    <li>  Atatürk’ün Anadolu’daki Faaliyetleri: Kurtuluş Savaşı’nın Hazırlıkları (Mustafa Kemal Paşa’nın Samsun’a Çıkışı, Amasya Genelgesi)</li>
    <li>  Atatürk’ün Anadolu’daki Faaliyetleri: Kurtuluş Savaşı’nın Hazırlıkları (Kongreler Dönemi )</li>
    <li> Ara Sınav</li>
    <li> TBMM’nin Açılması (Osmanlı Mebusan Meclisi’nin Toplanması ve Misak-ı Milli’nin İlan Edilişi, TBMM’nin Açılışı)</li>
    <li> TBMM’nin Açılması (TBMM'ye Karşı Tepkiler, Sevr Antlaşması)</li>
    <li> Kurtuluş Savaşı Dönemi ve Cepheler (Doğu Cephesi, Güney Cephesi)</li>
    <li>  Kurtuluş Savaşı Dönemi ve Cepheler (I. İnönü Savaşı ve Sonuçları, II. İnönü Savaşı, Kütahya-Eskişehir Savaşları</li>
    <li>  Kurtuluş Savaşı Dönemi ve Cepheler (Sakarya Meydan Savaşı. Büyük Taarruz.)</li>
</ol>

