
@{
    ViewBag.Title = "BilgiTeknolojileri";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Bilgi Teknolojileri Dersi</h2>
<br />
<p> Bu ders bilgi teknolojileri perspektifinin öğrencilere kazandırılması amacıyla kişisel bilgisayar kullanımı, bilgisayarın iç yapısının tanıtımı,anakart yapısı, işlemciler, kalıcı ve geçici bellekler ve çeşitleri, donanım kartları, manyetik ve optik sürücüler, bilgi saklama ve tekrar bulma teknikleri, bilgi giriş ve çıkış üniteleri, bilgisayar ağları ve ağ kurulum teknikleri, işletim sistemi çalışma prensipleri ve hata mesajlarının öğrencilere tanıtılmasını içermektedir.</p>
<br />
<h3> Bilgi Teknolojileri neleri kapsar?</h3>
<p> mikro elektronik ve veri iletiminin yanında, faks makineleri, mobil telefonlar, kablolu televizyonlar, bilgisayarlar, bilgi ağları ve online veri tabanlarını da kapsar.</p>
<h3>Bilişim ve teknoloji dersi bilgi nedir?</h3>
<p> Grup-Tanım Bilgi, bir konu ya da iş konusunda öğrenilen ya da öğretilen şeylerdir. Bilginin toplanmasını, işlenmesini, depolanmasını, ağlar aracılığı ile bir yerden bir yere iletilmesini sağlayan iletişim ve bilgisayar teknolojilerini de kapsayan bütün teknolojiler "bilişim teknolojisi" olarak adlandırılmaktadır.</p>