
@{
    ViewBag.Title = "BilgisayarDonanımı";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Bilgisayar Donanımı Dersi</h2>
<br />
<h3> Donanım nedir kısa ve öz?</h3>
<p> Bilgisayarın elle tutulup gözle görülebilen tüm fiziksel parçalarına donanım ismi verilir. Bilgisayarlarda donanım, iç donanım ve dış donanım olmak üzere ikiye ayrılır. Donanım, bir elektronik aleti oluşturan tüm iç ve dış parçalara verilen genel bir isimdir.</p>
<br />
<h2> İçerik</h2>
<div class="content"> <table class="table table-striped"> <thead> <tr> <td>Haftalar</td> <td>Konular</td> </tr> </thead> <tbody>    <tr> <td width="100">1. Haftalar</td> <td>Bilgisayarın tanımı ve tarihsel gelişimi</td> </tr>  <tr> <td width="100">2. Haftalar</td> <td>Donanımın tanımı veyapısı</td> </tr>  <tr> <td width="100">3. Haftalar</td> <td>İşlemci, sabit disk, bellek, anakart, ROM bellek</td> </tr>  <tr> <td width="100">4. Haftalar</td> <td>Giriş birimleri: Klavye ve fare</td> </tr>  <tr> <td width="100">5. Haftalar</td> <td>&Ccedil;ıkış birimleri: Ekranve yazıcı</td> </tr>  <tr> <td width="100">6. Haftalar</td> <td>&Ccedil;ıkış birimleri: Ekranve yazıcı</td> </tr>  <tr> <td width="100">7. Haftalar</td> <td>&Ccedil;ıkış birimleri: Ekranve yazıcı</td> </tr>  <tr> <td width="100">8. Haftalar</td> <td>S&uuml;r&uuml;c&uuml;ler</td> </tr>  <tr> <td width="100">9. Haftalar</td> <td>Diğer &ccedil;evre birimleri</td> </tr>  <tr> <td width="100">10. Haftalar</td> <td>Bilgisayarın &ccedil;alıştırılması</td> </tr>  <tr> <td width="100">11. Haftalar</td> <td>Ağ ve uygulama yazılımları</td> </tr>  <tr> <td width="100">12. Haftalar</td> <td>BIOS ve BIOS ayarları</td> </tr>  <tr> <td width="100">13. Haftalar</td> <td>BIOS ve BIOS ayarları</td> </tr>  <tr> <td width="100">14. Haftalar</td> <td>BIOS ve BIOS ayarları</td> </tr>   </tbody> </table> </div>


