
@{
    ViewBag.Title = "BilisimVeAg";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">Bilişim ve Ağ Tek. Temelleri</h2>
<br />
<h2> Ağ Temelleri dersi nedir?</h2>
<h5> Bu ders; ağ temelleri, sistem güvenliği ve yedek alma ile ilgili bilgi ve becerilerin verildiği derstir. Bu ders ile öğrenciye ev veya ofis ortamlarında temel ağ ortamları kurabilme ve de sistem üzerinde güvenlik tedbirleri alabilme, sistem yedeğini alabilme il ilgili yeterlikler kazandırılacaktır.</h5>
<br />
<h2> Dersin Amacı:</h2>
<h5>Bu derste öğrenciye; iş sağlığı ve güvenliği tedbirlerini alarak bilişim etiği, bilgi güvenliği, fikri mülkiyet, sanayi devrimleri, dijital dönüşüm ve endüstri 4.0 teknolojileri, bilgisayar montajı yapma ve ağ temellerini kullanma ile ilgili bilgi ve becerilerin kazandırılması amaçlanmaktadır.</h5>
<br />
<h2>Dersin İçeriği: </h2>
<h5> Bu ders şu konuları içermektedir: Ağ temelleri, donanım ve yazılım, ağ ortamında programlamaya giriş, Java ortamı, nesne ve sınıflar, inheritance (bırakıt), Java'da temel programlama yapıları,Java servletleri, Java server Pages, JavaBeans</h5>

