
@{
    ViewBag.Title = "CPROGRAM";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2> C# Proğramlama dili</h2>
<br />
<p>C# yani diğer bir adıyla C Sharp, Microsoft tarafından geliştirilen sunucu ve gömülü sistemleri çalıştırmak için tasarlanmış programlama dilidir. . NET Framework ortamında kullanılmak üzere geliştirilmiş nesne tabanlı programlama dillerinden birisidir.</p>
<br />
<p>C# programlama dili C ve C++ programlama dillerinden türemiştir. C, Java veya C++ dillerinden biri ile ilgilenmiş yazılım geliştiriciler C#’ın kurallarına kolayca uyum sağlayabilirler. Debugger özelliği yani gelişmiş hata giderme özelliği ile yazılımcıların işlerini kolaylaştırır. Bu özellik ile “syntax” hatalarını kolayca tespit eder. Dizinlerdeki hataları yazılımcıya ayrı bir ekranda göstererek yazılımcının bu hataları kolayca tespit etmesini sağlar. Bu özellikleri sonucunda Backend Developer’lar tarafından yaygın kullanılan bir programlama dili haline gelmiştir.</p>
<br />

<h3>C# Programlama Dili ile Neler Yapılır?</h3>
<ol>
    <li> C# ile web geliştirme: Web geliştirmede C# oldukça popülerdir. .NET platformunda profesyonel ve dinamik web site geliştirmede kullanılır. C# ile oluşturulan web hizmetleri hızlı ve güvenilirdir.  C# ile web sitelerinin alt yapılarını çok işlevli hale getirebilirsiniz.</li>
    <br />
    <li> C# ile mobil uygulamalar geliştirme: Xamarin platformunu kullanarak  C# programlama dili ile  iOS, Android ve Windows için modern mobil uygulama geliştirebilirsiniz. </li>
    <br />
    <li> C# ile oyun geliştirme: Oyun geliştirmek için kullanılan programla dillerinin başında C# gelmektedir. Bağımlılık yapan, yüzlerce kez indirilen oyunlardan oluşturmak istiyorsanız C# öğrenmek kesinlikle doğru bir seçenek olacaktır.  770 milyondan fazla kullanıcısıyla en popüler oyun motorlarından biri olan Unity ile de sorunsuz çalışmaktadır.  Sadece Unity ile değil piyasadaki birçok oyun motoru tarafından desteklenmektedir.</li>
    <br />
    <li> C# ile DLL yazma: Öncelikle DLL’in ne demek olduğunu kısaca açıklayalım. Dinamik Bağlantı kitaplığı (DLL), aynı anda birden fazla program tarafından kullanılabilen işlevler ve kodlar içeren bir kitaplıktır. DLL dosyalarını C# ile kodlayabilmek mümkündür. </li>
</ol>
<br />
<h3>Eğitim Konuları</h3>
<div class="tab-content egitimtabs">
    <div role="tabpanel" class="tab-pane active icerikkonular icerikortak" id="icerik">
        <h2 id="icerikh2">C# Dersleri - Eğitim Konuları</h2>
        <h3>1. C# Dersleri - C# Programlama Başlangıç</h3>
        <ul>
            <li>.NET Hakkımda Bilmemiz Gerekenler</li>
            <li>C Sharp Programlamaya Giriş</li>
            <li>C# Sharp Nedir?</li>
        </ul>

        <h3>2. C# Dersleri - .NET Çatısı ve C# 5.0</h3>
        <ul>
            <li>.NET ve CLR</li>
            <li>Visual Studio Geliştirme Ortamı</li>
            <li>
                İlk C# Programımız
                <ul>
                    <li>Hello, World</li>
                </ul>
            </li>
            <li>Namespaces</li>
            <li>Değişkenler </li>
            <li>İfadeler</li>
            <li>Dönüşümler>/li>
            <li>C#'ı Hesaplayıcı Olarak Kullanma</li>
            <li>.NET Çatısı Kütüphanesi
        </ul>

        <h3>3. C# Dersleri - C# Temelleri</h3>
        <ul>
            <li>C# I/O</li>
            <li>.NET Framework Class Library</li>
            <li>Veri Tipleri</li>
            <li>Integer </li>
            <li>C# Kayan Nokta Türleri </li>
            <li>C# Decimal </li>
            <li>Karakterler ve Strings</li>
            <li>Boolean </li>
            <li>Null Türleri </li>
        </ul>

        <h3>4. C# Dersleri - C# Operatörler</h3>
        <ul>
            <li>Operator Cardinality</li>
            <li>Aritmetik Operatörler</li>
            <li>İlişkisel Operatörler</li>
            <li>Mantıksal Operatörler</li>
            <li>Bitwise Operatörler</li>
            <li>Atama Operatörleri</li>
        </ul>

        <h3>5. C# Dersleri - Kontrol Yapıları</h3>
        <ul>
            <li>If </li>
            <li>Döngüler</li>
            <li>Diziler</li>
            <li>Foreach</li>
            <li>Switch</li>
        </ul>

        <h3>4. C# Dersleri - Diziler</h3>
        <ul>
            <li>Arrays</li>
            <li>System.Array</li>
            <li>Jagged Arrays</li>
            <li>Rectangular Arrays</li>
            <li>Arrays as Collections</li>
            <li>Indexers</li>
        </ul>

        <h3>5. C# Dersleri - Nesne Yönelimli Programlama</h3>
        <ul>
            <li>Nesneler</li>
            <li>Sınıflar</li>
            <li>Miras Alma</li>
            <li>Çok Biçimlilik</li>
            <li>Metodlar</li>
            <li>Nesne Yönelimli Dilleri</li>
            <li>Bileşenler</li>
        </ul>



        <h3>6. C# Dersleri - Yapıcı Fonksiyonlar</h3>
        <ul>
            <li>Sınıflar</li>
            <li>Yapılandırılmış Veri</li>
            <li>Statik Alanlar ve Metodlar</li>
            <li>Constant ve Readonly</li>
            <li>C# İçinde Türler</li>
            <li>Değer Türleri</li>
            <li>Boxing ve Unboxing</li>
            <li>Referans Tipler</li>
        </ul>


        <h3>7. C# Dersleri - Metotlar, Özellikler ve Operatörler</h3>

        <ul>
            <li>Metotlar</li>
            <li>Parametre Geçme</li>
            <li>Method Overloading</li>
            <li>Operator Overloading</li>
            <li>Otomatik Uygulanan Özellikler</li>
        </ul>


        <h3>8. C# Dersleri - Karakterler ve String</h3>
        <ul>
            <li>Karakter ve String</li>
            <li>Karakterler</li>
            <li>Strings</li>
            <li>String Girişi</li>
            <li>String Metotları</li>
            <li>StringBuilder Class</li>
            <li>Strings ile Programlama
        </ul>


        <h3>9. C# Dersleri - Diziler ve İndeksleyiciler</h3>
        <ul>
            <li>Diziler</li>
            <li>System.Array</li>
            <li>Rasgele Sayı Üretme</li>
            <li>Jagged Arrays</li>
            <li>Koleksiyon Olarak Diziler</li>
            <li>Indeksleyiciler</li>
        </ul>

        <h3>10. C# Dersleri - Miras Alma</h3>
        <ul>
            <li>Tekli Miras Alma</li>
            <li>Erişim Kontrolü</li>
            <li>Metot Gizleme</li>
            <li>Başlatma</li>
        </ul>

        <h3>11. C# Dersleri - Sanal Metotlar ve Çok Biçimlilik</h3>
        <ul>
            <li>Sanal Metotlar</li>
            <li>Dynamic Binding</li>
            <li>Method Overriding</li>
            <li>Çok Biçimlilik (Polymorphism)</li>
            <li>Soyut Sınıflar</li>
            <li>Sealed Sınıflar</li>
        </ul>


        <h3>12. C# Dersleri - Biçimlendirme ve Dönüşüm</h3>
        <ul>
            <li>ToString()</li>
            <li>Format Strings</li>
            <li>String Formatlama</li>
            <li>Type Conversions</li>
        </ul>

        <h3>13. C# Dersleri - İstisnalar (Exceptions)</h3>
        <ul>
            <li>İstisnalar Temelleri</li>
            <li>Yapılandırılmış İstisnaları Çözme</li>
            <li>Kullanıcı Temelli İstisna Sınıflar</li>
            <li>İç İstisnalar</li>
        </ul>


        <h3>14. C# Dersleri - Arayüzler (Interfaces)</h3>
        <ul>
            <li>Interface Temelleri</li>
            <li>Programlama Arayüzleri</li>
            <li>Çalışma Zamanı Arayüz Kullanımı</li>
            <li>Belirsiz Durumların Çözümü</li>
        </ul>

        <h3>15. C# Dersleri - .NET Arayüzleri ve Koleksiyonlar</h3>

        <ul>
            <li>IEnumerable ve IEnumerator</li>
            <li>Copy Semantics ve ICloneable</li>
            <li>Objeleri Karışılaştırmak</li>
            <li>Generic Types</li>
            <li>Type-Safe Collections</li>
            <li>Collection Initializers</li>
        </ul>

        <h3>16. C# Dersleri - Delegates ve Events</h3>
        <ul>
            <li>Delegates</li>
            <li>Anonymous Methods</li>
            <li>Lambda Expressions</li>
            <li>Events</li>
            <li>Visual Studio ile Windows Uygulamaları Oluşturmak</li>
            <li>Buttons, Labels ve Textboxes</li>
            <li>Handling Events</li>
            <li>Listbox Controls</li>
        </ul>

        <h3>17. C# Dersleri - Yeni Özellikler</h3>
        <ul>
            <li>Değişken Veri Türleri</li>
            <li>Named Arguments</li>
            <li>Optional Arguments</li>
            <li>Jenerik Arayüz Türleri</li>
            <li>Programlama Anahtar Kelimeleri</li>
        </ul>

    </div>

