
@{
    ViewBag.Title = "DışTicaret";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">DışTicaret Dersi </h2>
<br />
<h2>Dış ticaretin önemi nedir?</h2>
<p>Dış ticaretin temel amacı, bir ülkenin ekonomik büyümesini teşvik etmek, üretim kapasitesini artırmak, iş imkanları yaratmak ve ticaret partnerleriyle karşılıklı yarar sağlamaktır. İşte dış ticaretin temel unsurları: İhracat: Bir ülke, kendi ürettiği malları ve hizmetleri yabancı ülkelere satma işlemidir.</p>


<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full" style="text-align: center;">
    <div class="row" style="display: inline-block;">
        <table class="table table-bordered table-striped table-condensed mb-none">
            <tr>
                <th>Dosya Adı</th>
                <th>Boyutu</th>
                <th></th>
            </tr>
            <tr>
                <td>Dış Ticarette Temel Kavramlar.pdf</td>
                <td>95.85 KB</td>
                <td>
                    <a href="~/Dosyalar/91cabd16-9692-4405-899d-b8a854caaf68_1.pdf" download class="btn btn-success btn-sm">
                        <span class="fa fa-download"></span> İndir
                    </a>
                    <a href="~/Dosyalar/91cabd16-9692-4405-899d-b8a854caaf68_1.pdf" target="_blank" class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span> Göster
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

