
@{
    ViewBag.Title = "GenelMuhasebe";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">Genel Muhasebe Dersi</h2>
<br />
<h2> Genel muhasebe dersi nedir?</h2>
<p>Genel muhasebe, muhasebe sisteminin en önemli konularını içererek muhasebenin temel anlayışını kavratır. Genel muhasebe dersi çift taraflı kayıt sistemini, muhasebe hesapları, yevmiye defteri, büyük defteri, mizan ve gelir tablosu gibi muhasebenin en önemli konularını anlatan derstir.</p>
<div class="orta">
    <p>Genel muhasebe  dersinde muhasebenin tanımı, temel kavramları, hesap kavramı, hesap işleyişleri, tek düzen hesap planı,  yevmiye defteri, büyük defter,  mizan, envanter gibi temel konuları bulabilirsiniz.</p>
    <p>&nbsp;</p>
    <h2>Genel Muhasebe Konuları</h2>
    <ul id="icerik-blog">
        <li>Muhasebenin tanımı ve fonksiyonları</li>
        <li>Muhasebenin temel kavramları</li>
        <li>Muhasebe kayıt yöntemleri</li>
        <li>Hesap kavramı</li>
        <li>Bilanço hesaplarının işleyiş kuralları</li>
        <li>Gelir tablosu hesaplarının işleyiş kuralları</li>
        <li>Muhasebe süreci</li>
        <li>Tek düzen hesap planı</li>
        <li>Yevmiye defteri</li>
        <li>Açılış kaydı</li>
        <li>Muhasebe fişleri</li>
        <li> Büyük defter</li>
        <li>Mizan</li>
        <li>Envanter işlemleri</li>
        <li>Sürekli envanter yöntemi</li>
        <li>Aralıklı envanter yöntemi</li>
        <li>KDV tahakkuk kaydı</li>
        <li>İhbar Tazminatı</li>
        <li>Kıdem Tazminatı</li>
    </ul>
</div>
<br />
<h2> Genel muhasebe hangi programları kullanır?</h2>
<ul>
    <li>Logo Yazılım Muhasebe Programları</li>
    <li>Mikro Muhasebe Program</li>
    <li>Akınsoft Muhasebe Programı</li>
    <li>Uyumsoft Muhasebe Programı</li>
    <li>Nebim ERP / Muhasebe Çözümleri.</li>
    <li>Eta Muhasebe Programı</li>
    <li>Orka Muhasebe Programı</li>
    <li> Paraşüt Ön Muhasebe Programı</li>
</ul>

