@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h6 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 44px; font-weight: 700; letter-spacing: 0px; text-align: center; background-color: yellowgreen; padding:35px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">Program Dersleri (1.Yıl Dersleri)</a>
</h6>

<h2 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 38px; font-weight: 700; letter-spacing: 0px; text-align: center; background-color: coral; padding:15px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none; margin-top:10px;">Bilgisayar Programcılığı Ders Programı</a>
</h2>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Güz Dönemi ]</a>
</h3>


<table border="1" align="left">
    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Temelİngilizce/"> TMLİNG </a> </td>
        <td> Temel İngilizce</td>
        <td align="center">  2 </td>
        <td align="center">  1 </td>
        <td align="center">  2 </td>
        <td align="center"> 3 </td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/AlgoritmayaGiris/"> ALGPROG </a> </td>
        <td>Algoritma ve Programlamaya Giriş</td>
        <td align="center"> 2</td>
        <td align="center"> 2</td>
        <td align="center"> 3</td>
        <td align="center"> 5</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TemelOfisUyg/"> TMLOFSUYG </a> </td>
        <td> Temel Ofis Uygulamaları</td>
        <td align="center"> 2</td>
        <td align="center"> 2</td>
        <td align="center"> 3</td>
        <td align="center"> 4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/BilgiTeknolojileri/"> BLGTKN </a> </td>
        <td> Bilgi Teknolojileri Temel Kavramları</td>
        <td align="center">3 </td>
        <td align="center"> -</td>
        <td align="center"> 4</td>
        <td align="center"> 4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TemelMatematik/"> TMLMAT </a> </td>
        <td> Temel Matematik</td>
        <td align="center"> 2</td>
        <td align="center"> -</td>
        <td align="center"> 2</td>
        <td align="center"> 3</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Atatürkİnkilap/"> TMLİNKLP </a> </td>
        <td> Atatürk İlkeleri ve Inkılapları</td>
        <td align="center"> 2 </td>
        <td align="center"> - </td>
        <td align="center"> 2 </td>
        <td align="center"> 3 </td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/BilgisayarDonanımı/"> BLGDNM </a>
        <td> Bilgisayar Donanımı</td>
        <td align="center"> 3</td>
        <td align="center"> 1</td>
        <td align="center"> 3</td>
        <td align="center"> 4</td>
    </tr>
</table>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; margin-top:10px; letter-spacing: 0px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Bahar Dönemi ]</a>
</h3>

<table border="1" align="right" style="align-content:start">
    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/CPROGRAM/"> C#PROG </a> </td>
        <td>C# Programlama</td>
        <td align="center"> 5</td>
        <td align="center"> 2</td>
        <td align="center"> 5</td>
        <td align="center"> 6</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/VeriTabanı/"> VRTBNI </a> </td>
        <td> Veri Tabanı Yönetim Sistemleri</td>
        <td align="center"> 4</td>
        <td align="center"> 2</td>
        <td align="center"> 4</td>
        <td align="center"> 5</td>
    </tr>
    <tr>
        <td>  BLGDNM  </td>
        <td>Bilgisayar Ağ Sistemleri</td>
        <td align="center"> 4</td>
        <td align="center"> -</td>
        <td align="center"> 4</td>
        <td align="center"> 4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/HtmlProgramlama/"> HTMLPROG </a> </td>
        <td> Html Programlama</td>
        <td align="center"> 4</td>
        <td align="center">2 </td>
        <td align="center"> 4 </td>
        <td align="center"> 4 </td>
    </tr>
    <tr>
        <th> Seçmeli Dersler</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>
        <td>Temel Elektronik</td>
        <td align="center"> 4  </td>
        <td align="center"> -  </td>
        <td align="center"> 4 </td>
        <td align="center"> 4 </td>
    </tr>
    <tr>
        <td>Teknolojinin Bilimsel İlkeleri</td>
        <td align="center"> 4  </td>
        <td align="center"> -  </td>
        <td align="center"> 4 </td>
        <td align="center"> 4 </td>
    </tr>
</table>

<h2 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 38px; font-weight: 700; margin-top:10px; letter-spacing: 0px; text-align: center; background-color: coral; padding:15px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">Dış Ticaret Ders Programı</a>
</h2>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Güz Dönemi ]</a>
</h3>

<table border="1" align="left">

    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>

        <td> <a href="/DersProğramı/İşletme/"> İSLTME </a> </td>
        <td>İşletme </td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 5</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/MikroEkonomi/"> MKROEKNM </a> </td>
        <td>  Mikro Ekonomi</td>
        <td align="center">  3</td>
        <td align="center">  -</td>
        <td align="center">  3</td>
        <td align="center">  4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/DışTicaret/">   DISTCR </a> </td>
        <td> Dış Ticarette Temel Kavramlar</td>
        <td align="center">3</td>
        <td align="center">-</td>
        <td align="center">3</td>
        <td align="center">6</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/GenelMuhasebe/"> GNLMUHSB </a> </td>
        <td>  Genel Muhasebe </td>
        <td align="center">  3 </td>
        <td align="center">  - </td>
        <td align="center">  3 </td>
        <td align="center">  5 </td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Atatürkİnkilap/"> TMLİNKLP </a> </td>
        <td>Atatürk İlkeleri ve Inkılap Tarihi </td>
        <td align="center"> 2</td>
        <td align="center"> -</td>
        <td align="center"> 2</td>
        <td align="center"> 1</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Temelİngilizce/"> TMLİNG </a> </td>
        <td> Temel İngilizce</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 3</td>
    </tr>
    <tr>
        <td> SÇMLDERS</td>
        <td> Seçmeli Ders</td>
        <td align="center"> 2</td>
        <td align="center"> -</td>
        <td align="center"> 2</td>
        <td align="center"> 4</td>
    </tr>
</table>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; margin-top:10px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Bahar Dönemi ]</a>
</h3>

<table border="1">
    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/İşletme/"> İSLTME </a> </td>
        <td>	İşletme II</td>
        <td align="center">  3</td>
        <td align="center">  -</td>
        <td align="center">  3</td>
        <td align="center">  5</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Temelİngilizce/"> TMLİNG </a> </td>
        <td>İngilizce II</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 3</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Atatürkİnkilap/"> TMLİNKLP </a> </td>
        <td>	Atatürk İlkeleri ve Inkılap Tarihi II</td>
        <td align="center"> 2</td>
        <td align="center"> -</td>
        <td align="center"> 2</td>
        <td align="center"> 1</td>
    </tr>

    <tr>
        <td> <a href="/DersProğramı/MakroEkonomi/"> MKROEKNM   </a> </td>
        <td>	Makro Ekonomi</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 4</td>
    </tr>

    <tr>
        <td> <a href="/DersProğramı/DısticaretBelge/"> DTBÖSI </a> </td>
        <td>Dış Ticarette Belgeler, Ödeme Şekilleri, Incoterms</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 4</td>
    </tr>
    <tr>
        <td> STAJ</td>
        <td>Staj (4 hafta)</td>
        <td align="center">0 </td>
        <td align="center">0 </td>
        <td align="center">0 </td>
        <td align="center">4 </td>
    </tr>
    <tr>
        <th> Seçmeli Dersler</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>
        <td> Uluslararası Pazarlama</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 5</td>
    </tr>
    <tr>
        <td> 	Girişimcilik</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 5</td>
    </tr>
    <tr>
        <td> 	Uluslararası Ticari Çevreler</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 5</td>
    </tr>
</table>

<h2 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 38px; font-weight: 700; letter-spacing: 0px; margin-top:10px; text-align: center; background-color: coral; padding:15px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">Siber Güvenlik Ders Programı</a>
</h2>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Güz Dönemi ]</a>
</h3>

<table border="1">

    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th style="text-align:center">Ders Saati</th>
        <th style="text-align:center">Lab</th>
        <th style="text-align:center">Kredi</th>
        <th style="text-align:center">AKTS</th>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/DısticaretBelge/"> DTBÖSI </a> </td>
        <td> Siber Güvenliğe Giriş</td>
        <td align="center"> 2</td>
        <td align="center"> 1</td>
        <td align="center"> 2</td>
        <td align="center"> 4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/BilisimVeAg/">  BLSMAG </a> </td>
        <td> Bilişim ve Ağ Tek. Temelleri</td>
        <td align="center">3</td>
        <td align="center">1</td>
        <td align="center">4</td>
        <td align="center">5</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/İsletimSistemiGüvenliği/"> İŞLTMSİSTM </a> </td>
        <td>  İşletim Sistemleri & Güvenliği</td>
        <td align="center">3</td>
        <td align="center">1</td>
        <td align="center">4</td>
        <td align="center">6</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Atatürkİnkilap/"> TMLİNKLP </a> </td>
        <td>	Atatürk İlkeleri ve Inkılap Tarihi II</td>
        <td align="center"> 2</td>
        <td align="center"> -</td>
        <td align="center"> 2</td>
        <td align="center"> 1</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TemelProgramlama/"> TMLPROG </a> </td>
        <td> Temel Programlama </td>
        <td align="center"> 3 </td>
        <td align="center"> 1 </td>
        <td align="center"> 4 </td>
        <td align="center"> 5 </td>

    </tr>
    <tr>
        <td> <a href="/DersProğramı/TemelMatematik/"> MATMNTK </a> </td>
        <td> Matematik ve Mantık</td>
        <td align="center"> 3</td>
        <td align="center"> -</td>
        <td align="center"> 3</td>
        <td align="center"> 4</td>
    </tr>
</table>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; margin-top:10px; letter-spacing: 0px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Bahar Dönemi ]</a>
</h3>

<table border="1">
</table>

<h2 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 38px; font-weight: 700; letter-spacing: 0px; margin-top:10px; text-align: center; background-color: coral; padding:15px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">İç Mimarlık Ve Çevre Tasarımı Ders Programı</a>
</h2>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Güz Dönemi ]</a>
</h3>

<table border="1">
    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th>Ders Saati</th>
        <th>Lab</th>
        <th>Kredi</th>
        <th>ECTS</th>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/İletişimBecerileri/"> ENG1003 </a> </td>
        <td>İletişim Becerileri ve Akademik Raporlama I</td>
        <td>  5 </td>
        <td>  -</td>
        <td>  3</td>
        <td>  4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TemelTasarım/"> INT1001 </a> </td>
        <td>Temel Tasarım</td>
        <td> 2</td>
        <td> 1</td>
        <td> 5</td>
        <td> 10</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Atatürkİnkılap/"> HST1001 </a> </td>
        <td>    Atatürk İlkeleri ve İnkılap Tarihi I</td>
        <td> 2</td>
        <td> -</td>
        <td> 2</td>
        <td> 2</td>
    </tr>

    <tr>
        <td> <a href="/DersProğramı/TasarımMimarlık/"> INT1013   </a> </td>
        <td>    Tasarım ve Mimarlığa Giriş</td>
        <td> 2</td>
        <td> 1</td>
        <td> 2</td>
        <td> 4</td>
    </tr>

    <tr>
        <td> <a href="/DersProğramı/TasarımGörsel/"> INT1033 </a> </td>
        <td>Tasarımda Görsel Medya I</td>
        <td> 4</td>
        <td> 1</td>
        <td> 4</td>
        <td> 8</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TürkDili/"> TLL1003 </a></td>
        <td>Türk Dili ve Edebiyatı I</td>
        <td>2 </td>
        <td>- </td>
        <td>2 </td>
        <td>2 </td>
    </tr>
</table>

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; margin-top:10px; text-align: left; background-color: #68738C; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">[ Bahar Dönemi ]</a>
</h3>

<table border="1">
    <tr>
        <th> Ders Kodu</th>
        <th>Ders Adı</th>
        <th>Ders Saati</th>
        <th>Lab</th>
        <th>Kredi</th>
        <th>ECTS</th>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/İletişimBecerileriAkademik/"> ENG1004 </a> </td>
        <td>İletişim Becerileri ve Akademik Raporlama II</td>
        <td>  2 </td>
        <td>  -</td>
        <td>  3</td>
        <td>  3</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TemelTasarım/"> INT1001 </a> </td>
        <td>Temel Tasarım</td>
        <td> 2</td>
        <td> 1</td>
        <td> 5</td>
        <td> 10</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/Atatürkİnkilap/"> HST1001 </a> </td>
        <td>    Atatürk İlkeleri ve İnkılap Tarihi II</td>
        <td> 2</td>
        <td> -</td>
        <td> 2</td>
        <td> 2</td>
    </tr>

    <tr>
        <td> <a href="/DersProğramı/İçMekanTasarım/"> INT1002   </a> </td>
        <td>    İç Mekan Tasarım Çalışmaları</td>
        <td> 2</td>
        <td> 1</td>
        <td> 5</td>
        <td> 8</td>
    </tr>

    <tr>
        <td> <a href="/DersProğramı/İçMimarlıkGiriş/"> INT1014 </a> </td>
        <td>İç Mimarlığa Giriş</td>
        <td> 2</td>
        <td> 1</td>
        <td> 2</td>
        <td> 4</td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TasarımGörselMedya/"> TLL1034 </a></td>
        <td>Tasarımda Görsel Medya II</td>
        <td>2 </td>
        <td>- </td>
        <td>2 </td>
        <td>4 </td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/İçMimarlıkYapı/"> INT1054 </a></td>
        <td>İç Mimarlık İçin Yapı I</td>
        <td>2 </td>
        <td>1 </td>
        <td>2 </td>
        <td>4 </td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/ÇocukHukuku/"> LAW1156 </a></td>
        <td>Çocuk Hukuku ve Çocuk Psikolojisi</td>
        <td>1 </td>
        <td>- </td>
        <td>1 </td>
        <td>1 </td>
    </tr>
    <tr>
        <td> <a href="/DersProğramı/TürkDili/"> TLL1003 </a></td>
        <td>Türk Dili ve Edebiyatı II</td>
        <td>2 </td>
        <td>- </td>
        <td>2 </td>
        <td>2 </td>
    </tr>
</table>