
@{
    ViewBag.Title = "İsletimSistemiGüvenliği";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">İşletim Sistemi Güvenliği Dersi</h2>
<br />
<h2>Dersin Amacı: </h2>
<h5> Dersin amacı bilişim uzmanı yetiştirirken işletim sistemleri güvenliği konusunda bilgi sahibi olmasını sağlamak, detaylı olarak güvenlik konularına hakim olan ve kendi stratejisini geliştiren bireyler yetiştirmektir.</h5>
<br />
<h2>Dersin İçeriği: </h2>
<h5>İşletim sistemlerinin temel özelliklerini bilmenin yanında güvenlik boyutu ile ilgili bilgi sahibi olur. Kimlik doğrulama, saldırı türleri ve savunma yaklaşımları hakkında bilgi sahibi olur. İşletim sistemi tehditleri, sertifikalı sistemler ve loglama, güvenlik aracı olarak kriptografi konularında uzmanlaşır. Tüm tehditlere karşı güvenlik savunma stratejisi geliştirir. Tüm konular Windows ve Unix/Linux işletim sistemleri bağlamında ele alınır.</h5>
<br />
<h2>Bu dersi başarıyla tamamlayabilen öğrenciler;</h2>
<ul>
    <li> İşletim sistemi çekirdeğini bilir.</li>
    <li> İşletim sistemine yapılan saldırı türlerini bilir.</li>
    <li> Saldırı türlerine göre savunma çeşitlerini bilir.</li>
    <li> Tehdit türlerini bilir.</li>
    <li> Kriptografi hakkında açıklama yapar.</li>
    <li>  Güvenlik savunması oluşturur.</li>
</ul>
<br />
<h2> Dersin Haftalık Dağılımı</h2>
<ol>
    <li> Hafta Ders programının tartışılması ve okumaların belirlenmesi</li>
    <li> Hafta İşletim sistemlerinin kısa tarihçesi / Temel Özellik ve Görevleri</li>
    <li> Hafta Eşzamanlı işlemler</li>
    <li> Hafta İşletim sistemi çekirdeği </li>
    <li> Hafta Bellek yönetimi  </li>
    <li> Hafta Giriş ve Çıkış işlemleri </li>
    <li> Hafta Dosyalama sistemi, Kaynak tahsisi ve planlama</li>
    <li> Hafta Koruma ve güvenlik / Güvenilirlik / Görev denetimi</li>
    <li> Hafta İşletim sistemleri ve Güvenlik</li>
    <li> Hafta Kimlik doğrulama, saldırılar ve savunma</li>
    <li>
        Hafta Tehditler, Sertifikalı sistemler ve loglama
    </li>

    <li> Hafta Güvenlik aracı olarak Kriptografi</li>
    <li>Hafta Güvenlik savunması geliştirme </li>
    <li> Hafta Windows ve Linux/Unix güvenliği</li>
    <li> hafta Final sınavı</li>
</ol>

