
@{
    ViewBag.Title = "İşletme";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">İşletme Dersi</h2>
<br />
<h2>İsletme Dersi ne işlenir</h2>
<p>İşlenecek konular arasında, isim markaları, liderlik, zaman yönetimi, kişisel kariyer planlaması, stres yönetimi, kişilerarası iletişim, sosyal algı ve kültür, takım çalışması, öz değerler, motivasyon, dış görüntü ve beden dili, kişisel gelişim ve sosyal medya kullanımı yer almaktadır.</p>
<br />
<h2>Konular</h2>
<br />
<h4>İşletmeciliğe Giriş</h4>
<p>Ekonomik yaşam ve işletmecilik temel kavramları, işletmelerin amaçları ve işletmelerin türleri, işletme çevresi ve sistemi, işletmelerin sosyal ve etik sorumlulukları, işletmelerin kuruluş yatırımı ve kuruluş yatırım araştırmaları, işletmelerin hukuki yapıları ve işletme birleşmeleri, işletme yönetimi ve yönetim fonksiyonları, işletmelerin üretim, pazarlama, finansman ve insan kaynakları yönetimi fonksiyonları.</p>
<br />
<h4>Yönetime Giriş</h4>
<p>Planlama, örgütleme, yöneltme, koordinasyon ve kontrol kavramları; sorumluluk ve yetki kavramları; yetki devri; insan kaynaklarının yönetimi; liderlik; motivasyon; grup ve örgüt kültürü; rekabetçi örgüt oluşturma; yönetimde çoğulculuk kavramı.</p>
<br />
<h4> Ticaret Hukuku</h4>
<p>Ticarî işletme, tacir ve ticarî işletme türleri, faiz; ticarî iş, tacir yardımcıları, ticaret unvanı ve işletme adı, ticaret sicili; marka ve haksız rekabet, ticarî defterler ve carî hesaplar, şirket kavramı, ticaret şirketleri: adi; kolektif; komandit; limited ve anonim şirketler, kıymetli evrak kavramı ve türleri.</p>
<br />
<h4>Örgüt Kuramı</h4>
<p>Örgütler ve örgüt kuramı, strateji, örgüt tasarımı ve etkililik, örgüt yapısının temelleri, örgütün dış çevresi, örgütler arası ilişkiler, imalat ve hizmet teknolojileri, bilgi teknolojisi ve bilgi yönetimi, örgütsel büyüklük, yaşam döngüsü ve kontrol, örgütsel kültür ve etik değerler, yenilik ve değişme, karar alma süreçleri, örgütsel çatışma, güç ve politika, örgütsel tasarımda güncel gelişmeler.</p>
<br />
<h4>Pazarlama Prensipleri</h4>
<p>Pazarlama kavramı; pazarlama sistemi, pazarlama yönetimi felsefeleri, stratejik pazarlama planlaması, global pazarlama çevresi, tüketici

