
@{
    ViewBag.Title = "MakroEkonomi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2 style="text-align:center">Makro Ekonomi</h2>
<br />

<h2>Makro ekonomi dersi nedir?</h2>
<h5> Makroekonomi, ekonomi biliminin; toplam tüketim, toplam üretim, toplam tasarruf, toplam yatırım, toplam gelir (millî gelir) ve istihdam gibi toplam büyüklüklerini inceleyen ve bunlar ile ilgili çözümleme ve çıkarımlar yapan alt dalı. </h5>
<br />
<h3> Dersin Amacı</h3>
<h5> Bu dersin amacı Öğrencileri, ekonomik birimlerin karar verme mekanizmasını ve aynı zamanda makro ekonominin teorisi, yapısını, ekonomi politikalarının kavramlarını, işlevlerini, durumlarını ve çalışma politikalarını analiz ve değerlendirme becerisi kazandırmayı amaçlamaktadır.</h5>
<br />
<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th colspan="4"><h2 class="gbs-title">HAFTALIK DERS KONULARI VE ÖNGÖRÜLEN HAZIRLIK ÇALIŞMALARI</h2></th>
        </tr>
        <tr style="background:#6b96ae">
            <th>Hafta</th>
            <th>Ön Hazırlık</th>
            <th>Konular</th>
            <th>Yöntem</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:5%">1</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Makro Ekonomi: Tanım, Kapsam, Gelişim</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">2</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Ekonominin &#214;l&#231;&#252;lmesi 1: Gayri Safi Yurt İ&#231;i Hasılanın &#214;l&#231;&#252;lmesi</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">3</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Ekonominin &#214;l&#231;&#252;lmesi 2: Enflasyon</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">4</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Ekonominin &#214;l&#231;&#252;lmesi 3: İşsizlik</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">5</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Ekonominin &#214;l&#231;&#252;lmesi 4: Faiz Haddi, D&#246;viz Kuru  ve &#214;demeler Dengesi-I</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">6</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Ekonominin &#214;l&#231;&#252;lmesi 4: Faiz Haddi, D&#246;viz Kuru  ve &#214;demeler Dengesi-II</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">7</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Genel Değerlendirme</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">8</td>
            <td style="width:20%">-</td>
            <td style="width:55%">ARA SINAV</td>
            <td style="width:20%">-</td>
        </tr>
        <tr>
            <td style="width:5%">9</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Planlanan Harcama ve Hasıla D&#252;zeyi: Basit Keynesyen Model</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">10</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">IS-LM Modeli</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">11</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Para Ve Maliye Politikası I</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">12</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Para Ve Maliye Politikası II</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">13</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Para Arzı - Para Talebi ve Para Politikası ve Maliye Politikası</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">14</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Toplam Talep ve Toplam Arz</td>
            <td style="width:20%">Anlatım, Soru Cevap</td>
        </tr>
        <tr>
            <td style="width:5%">15</td>
            <td style="width:20%">Ders Kitabının İlgili B&#246;l&#252;m&#252;</td>
            <td style="width:55%">Genel Değerlendirme</td>
            <td style="width:20%">Anlatım, Soru Cevap, Problem &#199;&#246;zme Y&#246;ntemi</td>
        </tr>
        <tr>
            <td style="width:5%">16</td>
            <td style="width:20%">-</td>
            <td style="width:55%">FİNAL</td>
            <td style="width:20%">-</td>
        </tr>
        <tr>
            <td style="width:5%">17</td>
            <td style="width:20%">-</td>
            <td style="width:55%">FİNAL</td>
            <td style="width:20%">-</td>
        </tr>
    </tbody>
</table>

