
@{
    ViewBag.Title = "MikroEkonomi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>MikroEkonomi Dersleri</h2>
<br />
<h2>Mikro ekonomi neleri kapsar?</h2>
<p>Mikro Ekonomi: Küçük ekonomik birimler (ev halkı, firmalar, piyasalar) ele alınıp incelenmektedir. Makro Ekonomi: Ekonominin bütünü ana unsurlarıyla ele alınıp incelenmektedir.</p>
<br />
<h2>Konular</h2>
<div class="content"> <table class="table table-striped"> <thead> <tr> <td style="color:red">Haftalar</td> <td style="color:red">Konular</td> </tr> </thead> <tbody>    <tr> <td width="100">1. Haftalar</td> <td>Mikroekonomiye Giriş</td> </tr>  <tr> <td width="100">2. Haftalar</td> <td>Mikroekonomi</td> </tr>  <tr> <td width="100">3. Haftalar</td> <td>Tüketici Davranışları Kuramı</td> </tr>  <tr> <td width="100">4. Haftalar</td> <td>Tüketici Talebi</td> </tr>  <tr> <td width="100">5. Haftalar</td> <td>Üretim Kuramı I</td> </tr>  <tr> <td width="100">6. Haftalar</td> <td>Üretim Kuramı I</td> </tr>  <tr> <td width="100">7. Haftalar</td> <td>Ara sınav</td> </tr>  <tr> <td width="100">8. Haftalar</td> <td>Maliyet Kuramı I</td> </tr>  <tr> <td width="100">9. Haftalar</td> <td>Maliyet Kuramı II</td> </tr>  <tr> <td width="100">10. Haftalar</td> <td>Tam Rekabet</td> </tr>  <tr> <td width="100">11. Haftalar</td> <td>Eksik Rekabet Piyasaları</td> </tr>  <tr> <td width="100">12. Haftalar</td> <td>Faktör Piyasaları</td> </tr>  <tr> <td width="100">13. Haftalar</td> <td>Genel Denge ve Refah Analizi</td> </tr>  <tr> <td width="100">14. Haftalar</td> <td>Dönem sonu sınavı</td> </tr>   </tbody> </table> </div>

