
@{
    ViewBag.Title = "Temelİngilizce";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Temel İngilizce </h2>
<br />
<br /> <p>Temel İngilizce (Basic English), dilbilimci Charles Kay Ogden tarafından geliştirilen, İngilizcenin uluslararası alanda öğrenilebilirliğini kolaylaştırmak için geliştirilen 850 temel İngilizce kelimeleridir.</p>


<p>Ogden'in geliştirdiği kurallar arasında kelimelerin çekiminde kullanılan ekleri kapsamaktadır.</p>
<ol>
    <li><i>-s / -es / -ies</i> tekil isimlerde çoğul isim çekimi.</li>
    <li><i>-ing / -ed</i> sıfatlarda fiil çekimi.</li>
    <li><i>-ing / -er</i> isimlerde fiil çekimi.</li>
    <li><i>-ly</i> zarflarda sıfat çekimi.</li>
    <li><i>-er / -est</i> or <i>more / most</i> miktar belirteçleri.</li>
    <li><i>un-</i> zıt anlamlı sıfatların çekimleri.</li>
</ol>
<br />
<h2> A1 İngilizce Konuları</h2>
<ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Alfabe ve Be Fiili</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tekil İsimler</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Çoğul İsimler</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">İyelik Sıfatları</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">İyelik Zamirleri</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Be Fiili İle Olumlu, Olumsuz ve Soru Cümleleri</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Selamlaşma Cümleleri</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Have Fiili ve Sahiplik Durumu</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Sayılar</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Saati Söyleme</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Hava Durumu</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Aile Bireylerini Öğrenme</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Hayvanları Öğrenme</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Geniş Zaman</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Geçmiş Zaman</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Gelecek Zaman</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Wh Soru Cümleleri</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Durum Fiilleri</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Sayılabilen ve Sayılamayan İsimler</span></li>
</ul>
