
@{
    ViewBag.Title = "TemelMatematik";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Temel Matematik Dersi</h2>
<br />
<h3>Dersin İçeriği: </h3>
<p> Doğrusal denklemler, ikinci dereceden denklemler ve uygulamaları. Doğrusal eşitsizlikler. Mutlak değer. Temel fonksiyonlar, bileşkeleri ve kartezyen koordinatlarda grafikleri. Doğrusal ve ikinci dereceden fonksiyonlar. Doğrusal denklem sistemleri. Matrisler ve matrislerle işlemler. Determinant ve bir matrisin tersi. Doğrusal denklem sistemlerinin çözümleri.</p>
<p>
    Dersin Öğretim Yöntemleri:
    1: Anlatım
</p>
<p>
    Dersin Ölçme Yöntemleri:
    A: Yazılı sınav
</p>
<br />
<h3> Temal Mateamtik Konuları Nelerdir ?</h3>
<ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;"> Temel Kavramlar</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Sayı Basamakları </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Bölme ve Bölünebilme</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Ebob Ekok </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Rasyonel Sayılar </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Basit Eşitsizlikler </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Mutlak Değer </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Üslü Sayılar </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Köklü Sayılar </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Çarpanlara Ayırma </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Oran Orantı </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Denklem Çözme </span></li>
</ul>

