
@{
    ViewBag.Title = "TemelProgramlama";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Temel Programlama Dersi</h2>
<br />
<h2>Temel programlama dersi nedir?</h2>
<h5>Temel Programlama Eğitimi, temel seviyede programlama dillerini öğrenmeye yardımcı olan ve bu alanda bilinmesi gerekenleri sunan bir online eğitim programıdır. Bu eğitim programı, programlamanın ne anlama geldiğini ve bu alanda kullanılan çeşitli kavramların ne amaçla kullanıldığını öğrenmeye yardımcı olmaktadır.</h5>
<br />

<div class="row" style="display: inline-block;">
    <table class="table table-bordered table-striped table-condensed mb-none">
        <tr>
            <th>Dosya Adı</th>
            <th>Boyutu</th>
            <th></th>
        </tr>
        <tr>
            <td>Programlama-Temelleri.pdf</td>
            <td>4.0 MB</td>
            <td>
                <a href="~/Dosyalar/Programlama-Temelleri.pdf" download class="btn btn-success btn-sm">
                    <span class="fa fa-download"></span> İndir
                </a>
                <a href="~/Dosyalar/Programlama-Temelleri.pdf" target="_blank" class="btn btn-info btn-sm">
                    <span class="fa fa-eye"></span> Göster
                </a>
            </td>
        </tr>
    </table>
</div>


