
@{
    ViewBag.Title = "VeriTabanı";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>VeriTabanı Dersleri</h2>
<br />
<h2> Veritabanı nedir?</h2>
<h4>
    Veritabanı, genellikle bir bilgisayar düzeneğinde depolanan verilerden oluşan düzenli bir yapıdır. Kabaca, verilerin tutulduğu bir Excel dosyası gibi düşünülebilir.

    Veritabanları, veritabanı yönetim sistemi (DBMS, Database Management System) ile kontrol edilir. Veriler ve veritabanı yönetim sistemi bir araya gelerek veritabanı sistemini oluşturur.

    Kullanılan veritabanı çeşitlerinde verilerin kolayca işlenmesi ve sorgulanması için tablolar kullanılır. Bu tablolar, satırlar ve sütunlardan oluşur. Sorgular ise yapılandırılmış sorgu dili olan SQL (Structured Query Language) ile yapılır.
</h4>
<br />
<h2> Veritabanı sistemleri ile neler yapılabilir?</h2>
<ul>
    <li>Farklı işler için farklı isimlerde veritabanları oluşturulur.</li>
    <li>Bu veritabanlarında kullanımı kolaylaştırmak için tablolar oluşturulur.</li>
    <li> Tablolara kayıt ekleme, silme ve güncelleme yapılır.</li>
    <li> Belirtilen ya da istenilen koşullara göre verileri sorgulama ve raporlama yapılır.</li>
    <li> Erişim için izinler oluşturulur.</li>
    <li> Veritabanında bulunan veriler yedeklenir.</li>
    <li> Veriler üzerinde yetkisiz erişimler engellenir.</li>
    <li>Var olan veriler üzerinde analizler yapılır ve raporlar oluşturulur.</li>
</ul>
<br />
<h2>SQL nedir?</h2>
<h5>SQL, Structured Query Language olup, yapılandırılmış sorgulama dilidir. SQL adından da anlaşılacağı gibi, programlama dili değil, sorgulama dilidir. Sadece veritabanı sistemlerinde kullanılan bir alt sorgu yapısıdır. SQL, veritabanı üzerinde bulunan verileri sorgular, tanımlar ve kontrol eder. Veritabanı sisteminde bulunan onca veri arasından kolay ve hızlı bir şekilde sorgu yapılmasını sağlar.</h5>

