
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px; font-weight: 700; letter-spacing: 0px; text-align: center; background-color: #1FA2E5; padding: 20px; border-radius: 1px; display: inline-block;">
    <a href="#" style="color:white; text-decoration: none;">Kontenjanlar &amp; Ücretler</a>
</h3>
<br />
<div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full" style="text-align: center;">
    <div class="row" style="display: inline-block;">
        <table class="table table-bordered table-striped table-condensed mb-none">
            <tr>
                <th>Dosya Adı</th>
                <th>Boyutu</th>
                <th></th>
            </tr>
            <tr>
                <td>2023-2024 Ek Yerleştirme Taban Puanlar ve Ücretler.pdf</td>
                <td>49.85 KB</td>
                <td>
                    <a href="~/Dosyalar/OkulTakipSistemiWordDosyas.pdf" download class="btn btn-success btn-sm">
                        <span class="fa fa-download"></span> İndir
                    </a>
                    <a href="~/Dosyalar/OkulTakipSistemiWordDosyas.pdf" target="_blank" class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span> Göster
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="border-top: 3px solid blue;"></div>
<h3>Peşin Ödeme</h3>
Peşin ödeme yapacak öğrencilerimiz aşağıdaki IBAN numaralarına öğrenci adı soyadı ve T.C. kimlik numarası belirterek yatırabilir. Peşin ödeme indirimi %5 uygulanmaktadır.
<br />
<br />
<u>KUVEYTTÜRK Katılım Bankası Hesap Bilgileri</u>
<br />
Hesap Adı          : İSTANBUL ESENYURT ÜNİVERSİTESİ
<br />
IBAN Numarası  : TR08 0020 5000 0938 9892 5000 01
<br />
<br />
<u>Halkbank Hesap Bilgileri</u>
<br />
Hesap Adı           : İSTANBUL ESENYURT ÜNİVERSİTESİ
<br />
IBAN Numarası  : TR54 0001 2009 6040 0010 0005 98
<br />
<br />
<h3>Kredi Kartı</h3>
Kredi kartları bulunan öğrencilerimiz ve aileleri kredi kartı ile peşin ödeme (Tek Çekim) yapabilir ya da aşağıda belirtilen bankaların kredi kartlarına taksit yaptırabilirler. Kayıt sırasında kartın fiziki olarak kullanılması gerekmektedir.
<br />
<u>Taksit yapılabilen kredi kartları:</u>
<br />
<ul>
    <li>İş Bankası ve MAKSİMUM özelliği olan diğer banka kredi kartları</li>
    <li>Garanti Bankası ve BONUS özelliği olan diğer banka kredi kartları</li>
    <li>Yapı ve Kredi Bankası ve WORLD özelliği olan diğer banka kredi kartları</li>
    <li>Akbank Axess</li>
    <li>Halk Bankası Paraf</li>
    <li>Finansbank ve HSBC kredi kartları</li>
    <li>Türk Ekonomi Bankası TEB</li>
</ul>
